* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    background-color: #000000;
    line-height: 1.5;
  }
  .navigation {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 30px;
    position: fixed;
    z-index: 1000;
  }
  
  .logo {
    float: left;
    margin-left: 10px;
  } 
  
  .logo1 {
    width: 280px;
  }
  
  .menu {
    margin-left: 400px;
    font-size: 20px;
  }
  
  .menu a{
    justify-content: space-between;
  }
  
  
  .menu ul {
    list-style-type: none;
    overflow: hidden;
    /* background-color: #000000; */
  }
  
  
  .menu li {
    float: left;
    padding: 10px 15px;
  }
  
  .menu li a {
    display: block;
    color: #eee;
    text-align: center;
    /* padding: 16px; */
    text-decoration: none;
    margin-right: 50px;
    /* background: #eee; */
    padding: 1px 22px;
    border-radius: 20px;
  }
  
  .menu li a:hover {
    background-color: #bbb;
    color: #000;
  }

  
  .frame53{
    width: 1519px;
    margin-top: 97px;
  }
.newCar {
    background-color: #eee;
    text-transform: uppercase;
    color: #630;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 289px;
    margin-left: 600px;
    align-items: center;
    border-radius: 10px;
}

.aa {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.AA {
    background-color: #eee;
    height: 500px;
    margin-left: 10px;
    border-radius: 20px;
}

.AA img {
    border-radius: 20px;
    width: 450px;
    margin: 20px 20px 10px 20px;
}

.AA p {
    color: #630;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 30px;
}

.subAA {
    background-color: white;
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subAA img {
    width: 100px;
    margin-left: 40px;
    margin-top: 10px;
}

.subAA p {
    font-size: 50px;
    color: #630;
    margin-left: 190px;
    margin-top: -100px;
}

.subAB {
    background-color: white;
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subAB img {
    width: 130px;
    margin-left: 25px;
    margin-top: 15px;
}

.subAB p {
    font-size: 40px;
    color: #630;
    margin-left: 170px;
    margin-top: -93px;
}

.subAC {
    background-color: white;
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subAC img {
    width: 115px;
    margin-left: 25px;
    margin-top: 2px;
}

.subAC p {
    font-size: 40px;
    color: #630;
    margin-left: 160px;
    margin-top: -100px;
}

.bb {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  
  .BB {
      background-color: #eee;
      height: 500px;
      margin-left: 10px;
      border-radius: 20px;
  }
  
  .BB img {
      border-radius: 20px;
      width: 450px;
      margin: 20px 20px 10px 20px;
  }
  
  .BB p {
      color: #630;
      font-size: 40px;
      text-transform: uppercase;
      margin-left: 30px;
  }
  
  .subBA {
      background-color: white;
      height: 120px;
      border-radius: 20px;
      margin: 5px 20px 5px 20px ;
  }
  
  .subBA img {
      width: 145px;
      margin-left: 20px;
      margin-top: 3px;
  }
  
  .subBA p {
      font-size: 50px;
      color: #630;
      margin-left: 190px;
      margin-top: -110px;
  }
  
  .subBB {
      background-color: white;
      height: 120px;
      border-radius: 20px;
      margin: 5px 20px 5px 20px ;
  }
  
  .subBB img {
      width: 180px;
      margin-left: 5px;
      margin-top: 2px;
  }
  
  .subBB p {
      font-size: 50px;
      color: black;
      margin-left: 190px;
      margin-top: -110px;
  }
  
  .subBC {
      background-color: white;
      height: 120px;
      border-radius: 20px;
      margin: 5px 20px 5px 20px ;
  }
  
  .subBC img {
    width: 130px;
      margin-left: 25px;
      margin-top: 2px;
  }
  
  .subBC p {
      font-size: 50px;
      color: black;
      margin-left: 170px;
      margin-top: -108px;
  }

  .blaCar {
    background-color: #eee;
    color: #630;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 850px;
    margin-left: 330px;
    border-radius: 20px;
}

#carousel {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  
    margin: 0 auto 0 auto;
    width: 90vw;
    height: 25.4vw;
    
    border-radius: 20px;
    background-color: #630000;
  }
  
  #carousel::-webkit-scrollbar {
    display: none; 
    -webkit-overflow-scrolling: touch; 
  }
  
  .item{
    height: 350px;
    margin: 15px;
    border-radius: 20px;
  
    font-size: 5em;
    text-align: center;
    line-height: 90px;
    background-color: white;
  }

.item img{
    width: 300px;
    height: 350px;
    border-radius: 20px;
}

.footer{
  background-color: #000000;
  padding: 50px 0;
  margin-top: 125px;
}


.container_footer {
  padding-top: 4%;
  max-width: 1170px;
  margin: auto;
  color: #630000;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul{
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #bbb;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #630000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li :not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #fff;
  padding-left: 8px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #bbb;
}

@media(max-width: 768px){
  
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}


/* mobile */
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media only screen  and (max-width : 768px){
  .navigation {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000000;
  }
 
  .wrapper ul {
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    list-style-type: none;
    overflow: hidden;
  }
  .wrapper ul li  {
    text-align: center;
  }
  .wrapper ul li a {
    text-decoration: none; 
    color: #eee;
    background-color: #630000;
    font-weight: bolder;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
  }
  .wrapper ul li:last-of-type{
    padding-bottom: 8px;
  }

  .navigation ul.menu {
    display: none;
    background-color: #eee;
  }

  .men-icon {
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 670px;
  margin-top: 25px;
  }

  .frame53{
    width: 760px;
  }

  .newCar{
    margin-left: 225px;
  }

  .aa{
    flex-direction: column;
    padding-left: 125px;
  }

  .AA{
    margin-top: 100px;
    width: 500px;
  }
  
  .bb{
    flex-direction: column;
    padding-left: 125px;
  }

  .BB{
    margin-top: 100px;
    width: 500px;
  }

  .blaCar{
    margin-left: 125px;
    font-size: 30px;
    width: 500px;
  }

  #carousel {
    width: 90vw; 
    height: 50vw; 
}

.item {
    width: calc(100% / 2); 
}
  
  
}
/* use 429px */
@media only screen  and (max-width : 430px){
  .navigation {
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
      background-color: #000000;
    }
   .logo1{
      width: 200px;
      margin-left: -30px;
   }
    .wrapper ul {
      flex-direction: column;
      width: 100%;
      height: 150px;
      margin-top: 50px;
      list-style-type: none;
      overflow: hidden;
    }
    .wrapper ul li  {
      text-align: center;
    }
    .wrapper ul li a {
      text-decoration: none; 
      color: #eee;
      background-color: #630000;
      font-weight: bolder;
      border-radius: 20px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 20px;
      
    }
    .wrapper ul li:last-of-type{
      padding-bottom: 8px;
    }
  
    .navigation ul.menu {
      display: none;
      background-color: #eee;
    }
  
    .men-icon {
    font-size: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 330px;
    }

    
  .frame53{
    width: 429px;
  }

  .newCar{
    margin-left: 80px;
  }

  .aa{
    flex-direction: column;
    margin-left: -125px;
  }

  .AA{
    margin-top: 20px;
    width: 400px;
    height: 450px;
  }

.AA img {
  width: 350px;
}

.AA p {
  font-size: 30px;
}

.subAA {
  height: 120px;
  border-radius: 20px;
  margin: 5px 20px 5px 20px ;
}

.subAA img {
  width: 100px;
  margin-left: 30px;
  margin-top: 10px;
}

.subAA p {
  font-size: 40px;
  color: #630;
  margin-left: 160px;
  margin-top: -100px;
}

.subAB {
  background-color: white;
  height: 120px;
  border-radius: 20px;
  margin: 5px 20px 5px 20px ;
}

.subAB img {
  width: 130px;
  margin-left: 20px;
  margin-top: 15px;
}

.subAB p {
  font-size: 40px;
  color: #630;
  margin-left: 170px;
  margin-top: -120px;
}

.subAC {
  background-color: white;
  height: 120px;
  border-radius: 20px;
  margin: 5px 20px 5px 20px ;
}

.subAC img {
  width: 115px;
  margin-left: 25px;
  margin-top: 2px;
}

.subAC p {
  font-size: 40px;
  color: #630;
  margin-left: 160px;
  margin-top: -130px;
}
  .bb{
    flex-direction: column;
    margin-left: -125px;
  }

  .BB{
    margin-top: 20px;
    width: 400px;
    height: 450px;
  }

.BB img {
    width: 350px;
}

.BB p {
    font-size: 30px;
}

.subBA {
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subBA img {
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
}

.subBA p {
    font-size: 40px;
    color: #630;
    margin-left: 160px;
    margin-top: -85px;
}

.subBB {
    background-color: white;
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subBB img {
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
}

.subBB p {
    font-size: 40px;
    color: #630;
    margin-left: 160px;
    margin-top: -85px;
}

.subBC {
    background-color: white;
    height: 120px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px ;
}

.subBC img {
  width: 115px;
    margin-left: 25px;
    margin-top: 2px;
}

.subBC p {
    font-size: 40px;
    color: #630;
    margin-left: 160px;
    margin-top: -90px;
}

  .blaCar{
    margin-left: 10px;
    font-size: 20px;
    width: 400px;
  }

  #carousel {
    width: 90vw; 
    height: 90vw; 
}

.item {
    width: calc(100% );
  }
}